body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7c2c2;
}

header {
    background: #961717;
    color: #231a1a;
    padding: 20px;
    text-align: center;
}
main{
    width: 100%;
    /* background-image: url(awq.jpg); */
    /* background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.15)50%),url(awq.jpg); */
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-image: url(MENU/OIP.jpg);
   
}
.navbar{
    width: 1580px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 225px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 43px;
    font-family: Arial;
    padding-left: 28px;
    float: left;
    padding-top: 10px;
}
.logo a{
    background-color: #D6AD60;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 30px;
    

}
ul li{
     list-style: none;
     margin-left: 100px;
     margin-top: 27px;
     font-size: 18px;

}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    /* color: #ff7200; */
    transition: 0.5s;
/* border: 2px solid  linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.15)50%) ;
  box-shadow: 4px 4px 8px rgb(229, 207, 207); */

}


#logo {
    max-width: 150px;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
